fastapi
uvicorn[standard]
sqlalchemy
asyncpg
psycopg2-binary
redis[asyncio]
python-jose
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
email-validator
requests
python-multipart
slowapi
pydantic-settings
pydantic[email]
google-cloud-storage
firebase-admin
alembic
